CASH BALANCE

<div> logo | <a href="/">Dashboard</a> | <a href="/transaction">Transaction</a> | <a href="/profile">Profile</a> | <a href="/setting">Setting</a> </div><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<b> To Be Completed </b>

<div>CURRENT CASH BALANCE</div>			<div> TOPUP/WITHDRAW</div> <div>THIS MONTH</div>

<table>
<th>DATE</th> <th>DESCRIPTION</th> <th>OUT</th> <th>IN</th> <th>BALANCE</th>
<tr>
<td>DATE</td> <td>CASH REQUEST <br> REF:161120132</td> <td>$20.00</td> <td></td> <td>$230.00</td>
</table>

<br>
<br>
<br>
<br>
<br>

<div>
footer
Peerex 2016
</div>