<div class="container>
<div class="row" align="center"> <h2> Today's Summary </h2></div>
<br>
	<div class="row" align="center">
  <table>
  <tr>
  <td>
  <h3> Current Cash Balance
	<br> <%= current_user.merchant_amount %> </h3></td>
  <td>
  <h3> Current Requests
  <br> <%= Transaction.where(status: "").count %> </h3></td>
  </tr>
  <tr>
  <td>
  <h3> Completed Transaction
  <br> <%= Transaction.where(status: "").count %> </h3></td>
  <td>
  <h3>Cancelled Transaction
  <br> <%= Transaction.where(status: "").count %> </h3></td>
  </tr>
    </table>

	</div>
</div>

