<div class="container>
<div class="row" align="center"> <h2> Past Transactions </h2></div>

	<div class="row">
  <div class="col-xs-12 col-sm-12 col-lg-12" align="center">

	<table>
		<tr>
			<th>Reference</th>
			<th>Amount Requested<br>(SGD)</th>
			<th>Fees Earned<br>(SGD)</th>
			<th>Total Receivables<br>(SGD)</th>
			<th>Status</th>
		</tr>
		<tr>
		<% @traveller.each do |traveller| %>
			<td><a href="">transaction ref</a></td>
			<td><h3>Requested Amount</h3></td>
			<td><h3>Fees Earned</h3></td>
			<td><h3>Total Amount</h3> </td>
			<td>transaction status <br> timestamp</td>
		</tr>
		<%end %>
	</table>	
	</div>
	</div>
	</div>