TRANSACTION

<div> logo | <a href="/">Dashboard</a> | <a href="/transaction">Transaction</a> | <a href="/cashbalance">Cash Balance</a> | <a href="/profile">Profile</a> | <a href="/setting">Setting</a> </div><br><br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<b> To Be Completed </b>

<div>Past Transactions</div>			<div> Search Bar</div>

<table>
<th>Status</th> <th>Amount Requested</th> <th>Fees Earned</th> <th>Total Receivable</th> <th>Reference</th>
<tr>
<td>Completed <br> Date <br> Time</td> <td>$20.00</td> <td>$0.50</td> <td>$20.50</td> <td>161120132</td> 
</table>

<br>
<br>
<br>
<br>
<br>

<div>
footer
Peerex 2016
</div>