/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.container-fluid{
width: 1440px;
height: 70px;
background-color: #21BE82;
}

.navbar-nav > li > a{
font-family: Gotham;
font-size: 16px;
font-weight: 500;
text-align: center;
line-height: 19px;
color: #FFFFFF!important;
}

.btn.adjust{
	width: 150px;
height: 34.2px;
background-color: #0296E5;
border-radius: 4px;
}