<!DOCTYPE html>
<html>
  <head>
    <title>Peerex3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  <nav class="navbar navbar-default">
    <div class="col-xs-3" align="left">
    <a href="/">
<img src="http://i.imgur.com/fnuxGKh.png" width="32" height="42"> </a> <h3> Peerex</h3>
    </div>

    <div class="col-xs-6">
      <a href="/dashboard">Home</a>
      <a href="/requests">Requests</a>
      <a href="/transaction">Transactions</a>
      <a href="/cashbalance">Cash Balance</a>
      <a href="/setting">Settings</a>
    </div>

    <div class="col-xs-3">
      <span>| </span>
      <button>Adjust Balance</button>
    </div>
  
  </nav>

  </head>

  <body>
    <%= yield %> 
  </body>

  

</html>

 <!-- Include jQuery -->
  <script src="https://code.jquery.com/jquery-1.8.2.min.js"></script>

  <!-- Include jQuery Popup Overlay -->
  <script src="https://cdn.rawgit.com/vast-engineering/jquery-popup-overlay/1.7.13/jquery.popupoverlay.js"></script>

  <script>
    $(document).ready(function() {

      // Initialize the plugin
      $('#complete').popup();
      $('#cancel').popup();


    });
  </script>